body{
  background-color: bisque;
}

.header{
  font-weight: 600;
  font-size: 20px;
  color: darkslategrey;
  padding-bottom: 50px;
}

.container{
  margin: 0 auto;
  padding: 30px;
  width: 400px;
  height: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
  text-align: center;
}

.time{
  margin: 0 10px;
  
}


.btn{
  width: 100px;
  height: 40px;
  border: 2px solid;
  border-radius: 10px;
  background-color: white;
  margin: 50px 10px;
}

.startBtn{
  border: 2px solid blue;
}
.startBtn:hover{
  box-shadow: 0px 2px 20px rgba(16, 19, 202, 0.411);
}
.startBtn:active{
  background-color: rgba(83, 170, 241, 0.74);
}

.stopBtn{
  border: 2px solid red;
}
.stopBtn:hover{
  box-shadow: 0px 2px 20px rgba(243, 69, 46, 0.205);
}
.stopBtn:active{
  background-color: rgba(241, 93, 83, 0.74);
}

.waitBtn{
  border: 2px solid rgb(255, 196, 0);
}
.waitBtn:hover{
  box-shadow: 0px 2px 20px rgba(202, 159, 16, 0.411);
}
.waitBtn:active{
  background-color: rgba(241, 204, 83, 0.74);
}


.resetBtn{
  border: 2px solid rgb(8, 110, 34);
}
.resetBtn:hover{
  box-shadow: 0px 2px 20px rgba(27, 102, 61, 0.582);
}
.resetBtn:active{
  background-color: rgba(56, 168, 93, 0.774);
}
